* {
  padding: 0;
  margin: 0;
  font-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  color: #000000;
}

#links {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: 3rem auto;
}

#links a {
  color: #000000;
}

#links a button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edede9;
  padding: 10px;
  margin: 2rem auto;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#links a button:hover {
  background-color: #FFFB7D;
}